<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNetCoreArchTemplate.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-top">
            <div class="logo-name">
                <strong>ForumLogo</strong> - Game Forum
            </div>
            <div class="user-links">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <a asp-page="/User/Profile">User View</a>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                }
            </div>
        </div>
        <div class="nav-links">
            <div class="nav-left">
                <nav>
                    <a href="/General">General Section</a>
                    <a href="/Game">Game Section</a>
                    <a href="/OffTopic">Off Topic Section</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        Game Forum &copy; @DateTime.Now.Year • [Logo] • "Life is a game, play it."
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
