<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNetCoreArchTemplate.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-top">
            <div class="logo-name">
                <strong>ForumLogo</strong> - MyForum
            </div>
            <div class="user-links">
                <a asp-page="/Register">Register</a> |
                <a asp-page="/Login">Login</a> |
                <a asp-page="/User/Profile">User View</a>
            </div>
        </div>
        <div class="nav-links">
            <div class="nav-left">
                <a asp-page="/Forums/General">Forum Discussion</a>
                <a asp-page="/Forums/Game">Game Forum</a>
                <a asp-page="/Forums/Offtopic">Offtopic Forum</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        MyForum &copy; @DateTime.Now.Year • [Logo] • "Your Motto Here"
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
